
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=2, shrink-to-fit=yes"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <table class="table table-bordered table-striped table-dark caption-top" style="margin: 0">
      <thead class="thead-light">
        <tr>
          <th colspan="13"><h1>Convergent</h1>RS3 Stats</th>
        </tr>
        <tr>
          <th><small class="text-muted">Thu, 20 Jan 2022 22:15:30 GMT</small></th>
          <th colspan="3">Total</th>
          <th colspan="3">Today</th>
          <th colspan="3">Yesterday</th>
          <th colspan="3">This Week</th>
        </tr>
        <tr>
          <th>Skill</th>
          <th>Level</th>
          <th>XP</th>
          <th>Rank</th>
          <th>Level</th>
          <th>XP</th>
          <th>Rank</th>
          <th>Level</th>
          <th>XP</th>
          <th>Rank</th>
          <th>Level</th>
          <th>XP</th>
          <th>Rank</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Overall</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Attack</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Defence</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Strength</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Constitution</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Ranged</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Prayer</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Magic</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Cooking</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Woodcutting</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Fletching</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Fishing</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Firemaking</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Crafting</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Smithing</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Mining</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Herblore</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Agility</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Thieving</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Slayer</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Farming</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Runecrafting</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Hunter</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Construction</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Summoning</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Dungeoneering</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Divination</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Invention</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
        <tr>
          <td>Archaeology</td>
          <td>1234</td>
          <td>13,123,456</td>
          <td>1,234</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
          <td>+ 0</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
